/* services.css, Gabriel Castellon, 301283945, Oct 4, 2023 */
.service {
  margin-bottom: 20px;
  text-align: center;
}

.service h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service p {
  margin-bottom: 10px;
}

/* Additional styles for headings */
.main-heading {
  text-align: center;
  margin-bottom: 20px;
}
